.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: coral;
}

.grid div {
  width: 20px;
  height: 20px;
}

/* snake color */
.snake {
  background-color: rgb(113, 177, 134);
}

.apple {
  background-color: purple;
}
